COMFY_ENABLED=0
COMFYUI_URL=http://127.0.0.1:8188
COMFY_WORKFLOW_PATH=workflows/comfy-template.json
COMFY_IMAGE_WORKFLOW_PATH=workflows/comfy-template.json
COMFY_VIDEO_WORKFLOW_PATH=workflows/comfy-video-template.json
COMFY_VIDEO_VAE_NAME=pixel_space
DEFAULT_IMAGE_MODEL=sd_xl_base_1.0.safetensors
DEFAULT_VIDEO_MODEL=wan2.2_ti2v_5B_fp16.safetensors
